html {
  background: #cacaca;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  font-size: 1.6em;
}

button {
  background-color: #a2bdb4;
  border: 1px solid #7b9371;
  border-radius: 4px;
}
